# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# pyenv python configuration file
.python-version
rentomatic-env/bin/activate
rentomatic-env/bin/activate.csh
rentomatic-env/bin/activate.fish
rentomatic-env/bin/Activate.ps1
rentomatic-env/bin/chardetect
rentomatic-env/bin/coverage
rentomatic-env/bin/coverage-3.12
rentomatic-env/bin/coverage3
rentomatic-env/bin/docutils
rentomatic-env/bin/flake8
rentomatic-env/bin/flask
rentomatic-env/bin/normalizer
rentomatic-env/bin/pip
rentomatic-env/bin/pip3
rentomatic-env/bin/pip3.12
rentomatic-env/bin/punch
rentomatic-env/bin/py.test
rentomatic-env/bin/pybabel
rentomatic-env/bin/pycodestyle
rentomatic-env/bin/pyflakes
rentomatic-env/bin/pygmentize
rentomatic-env/bin/pytest
rentomatic-env/bin/python
rentomatic-env/bin/python3
rentomatic-env/bin/python3.12
rentomatic-env/bin/rst2html
rentomatic-env/bin/rst2html4
rentomatic-env/bin/rst2html5
rentomatic-env/bin/rst2latex
rentomatic-env/bin/rst2man
rentomatic-env/bin/rst2odt
rentomatic-env/bin/rst2pseudoxml
rentomatic-env/bin/rst2s5
rentomatic-env/bin/rst2xetex
rentomatic-env/bin/rst2xml
rentomatic-env/bin/sphinx-apidoc
rentomatic-env/bin/sphinx-autogen
rentomatic-env/bin/sphinx-build
rentomatic-env/bin/sphinx-quickstart
rentomatic-env/bin/tox
rentomatic-env/bin/virtualenv
rentomatic-env/bin/watchmedo
rentomatic-env/bin/wheel
